* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  background-color: rgba(255, 241, 79);
}

svg{
    background-color: black;
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 10px 85%;
    padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

#form {
  width: 100%;
  max-width: 520px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  text-align: center;
  color: green;
  font-size: 24px;

  margin-bottom: 25px;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: 64px;
  background-color: white;
  padding-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  font-size: 18px;

  border-radius: 10px;
}

textarea {
  padding-top: 15px;
  height: 150px;
  display: block;
  width: 100%;
  height: 150px;
  background-color: white;
  padding-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  font-size: 18px;

  border-radius: 10px;
}

.checkbox {
  display: flex;
  margin-bottom: 25px;
  gap: 10px;
  align-items: center;
  margin-left: 50px;

  color: rgb(0, 117, 104);
}

.checkbox a {
  text-decoration: underline;
}

.mainBtn {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(29, 175, 149);

  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5em;

  width: 270px;
  height: 70px;

  text-transform: uppercase;
}

@media (max-width: 520px) {
    .checkbox{
        margin-left: 0;
    }
    svg{
        position: relative;
        margin: 30% 85%;
    }
}
